*{
    text-decoration: none;
    padding: 0%;
    margin: 0%;
    color: white;
    font-family:Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: .75rem;
    
}
.top_footer_bar{
    padding-top: 25px;
    width: auto;
    height: 150px;
    background-color: black;
    display: flex;
    
}
.logo{
    width: 35%;
    height: 50%;
    margin-left: 130px;
    margin-top: 15px;
}
.logo1{
    width: 16%;
    height: 20%;
}
.logo2{
    width: 10%;
    height: 30%;
    border-radius: 3px;
    
}
a{
    border: 1px solid white;
    border-radius: 3px;
    
}
input[type=text] { 
    width: 250px; 
    padding: 12px 40px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    border-radius: 2px;
}